data/raw/marketing_science_pdf
*.csv
*.ipynb
data/clean/all_journals_BERT.gzip
data/clean/all_journals_allWords.gzip
data/clean/all_journals_adject_nouns.gzip
*.pyc
*.pyc
data/representations/BERT_all_embeddings.gzip
data/representations/BERT_cls_embeddings.gzip
data/representations/BERT_last_embeddings.gzip
data/representations/BERT_secondlast_embeddings.gzip
data/representations/BERT_thirdlast_embeddings.gzip
data/representations/ROBERTA_all_embeddings.gzip
data/representations/ROBERTA_cls_embeddings.gzip
data/representations/ROBERTA_last_embeddings.gzip
data/representations/ROBERTA_secondlast_embeddings.gzip
data/representations/ROBERTA_thirdlast_embeddings.gzip
data/representations/SciBERT_all_embeddings.gzip
data/representations/SciBERT_cls_embeddings.gzip
data/representations/SciBERT_last_embeddings.gzip
data/representations/SciBERT_secondlast_embeddings.gzip
data/representations/SciBERT_thirdlast_embeddings.gzip
